<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {{seo.title}}
  </title>
  <!-- Fontawesome -->
  <link href="/css/font-awesome-all.min.css" rel="stylesheet" />
  <!-- GLightbox -->
  <link href="/css/glightbox.min.css" rel="stylesheet" />
  <!-- Swiper -->
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
  <!-- Main -->
  <link href="/css/main.css" rel="stylesheet" />
</head>
