
<header class="container mx-auto flex items-center justify-between flex-row w-full py-7">
  <div id="logo">
    The Fractional CTO
  </div>
  <div id="main-nav-container">
    <ul id="main-nav" class="list-none flex space-x-7 items-center">
      <li>
        <a href="/">Meet Michael</a>
      </li>
      <li>
        <a href="/cto-as-a-service">CTO as a Service</a>
      </li>
      <li>
        <a href="/expertise">Expertise</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</header>
