<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//rsms.me/inter/inter.css">
  <link href="/css/main.css" rel="stylesheet" />
  <title>
    {{seo.title}}
  </title>
</head>
<body>
