{{>head}}
{{>header}}

<main>
  <!-- Overview -->
  <section class="pt-120 pb-4" style="background: url('/images/hero-1-bg.jpg') no-repeat fixed center center/cover;">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <iframe src="https://calendly.com/grissinger/meet-greet" width="100%" height="1000"></iframe>
    </div>
  </section>
  <!--/ Overview -->
</main>

{{>footer}}
