{{>head}}
{{>header}}

<main>
  <!-- Overview -->
  <section class="py-120" style="background: url('/images/hero-1-bg.jpg') no-repeat fixed center center/cover;">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-10 lg:gap-16 place-items-center my-16">
        <div class="lg:col-span-2">
          <h1 class="text-interface-500 font-bold text-4xl leading-normal lg:text-5xl capitalize lg:leading-snug">
            Hiring a Fractional CTO
          </h1>
        </div>
        <div class="lg:col-span-3">
          <p class="text-interface-200 text-xl">
            You’re likely looking for a Fractional CTO because you need 100% of the expertise
            and experience of a CTO, but at a fraction of the time and cost.
            With CTO as a Service, here’s how I tend to work with clients.
          </p>
        </div>
      </div>
      <div class="mx-auto">
        <h2 class="text-center font-bold text-3xl pb-10 text-gray-700">
          What a CTO Adds to the Mix
        </h2>
        <ul class="grid grid-cols-2 lg:grid-cols-3 gap-3 auto-cols-max text-interface-200 text-l">
          <li class="bg-white border-2 p-5 rounded-xl mb-3">Ensuring the right Technologies are being used for the problems given</li>
          <li class="bg-white border-2 p-5 rounded-xl mb-3">Building a scalable product to support those large media pushes</li>
          <li class="bg-white border-2 p-5 rounded-xl mb-3">Overseeing Software Engineers (onshore or offshore) or helping make those initial hires</li>
          <li class="bg-white border-2 p-5 rounded-xl mb-3">Creating/Managing Product & Technical Roadmaps</li>
          <li class="bg-white border-2 p-5 rounded-xl mb-3">Helping Executives understand how Technology can further the company’s goals</li>
          <li class="bg-white border-2 p-5 rounded-xl mb-3">Building a Data Strategy that can drive Business Intelligence</li>
        </ul>
      </div>
    </div>
  </section>
  <!--/ Overview -->
  <!-- Types of Engagements -->
  <section class="bg-pblue-600 py-120 px-4 sm:px-6">
    <div>
      <h2 class="text-center font-bold text-3xl pb-20 text-white">
        Types of Fractional CTO Engagement
      </h2>
      <div class="mx-auto lg:max-w-7xl md:grid md:grid-cols-3 auto-cols-max gap-5">
        <div class="mb-10">
          <div class="shadow-custom rounded-lg bg-pblue-700 p-7 text-white">
            <h3 class="text-3xl">
              Sounding Board
            </h3>
            <span class="text-sm text-porange-500">2 hrs/week</span>
            <p class="mt-6 text-interface-400">
              Seeking a reliable partner who's always just a Slack message away?
              Look no further! You'll have direct access to me for quick questions,
              vendor/agency reviews, attending important calls, and even code audits.
              Let’s ensure your projects are on track and achieve optimal results.
            </p>
          </div>
        </div>
        <div class="mb-10">
          <div class="shadow-custom rounded-lg bg-pblue-700 p-7 text-white">
            <h3 class="text-3xl">
              Engaged
            </h3>
            <span class="text-sm text-porange-500">2 hrs/day</span>
            <p class="mt-6 text-interface-400">
              This is the sweet spot for a Fractional CTO. Involved daily in
              Code Reviews & Tech Planning, and actively involved in the
              Business + Engineering Strategy. A Fractional CTO at this level will
              maximize your internal resources and save you money and time!
            </p>
          </div>
        </div>
        <div class="mb-10">
          <div class="shadow-custom rounded-lg bg-pblue-700 p-7 text-white">
            <h3 class="text-3xl">
              Interim CTO
            </h3>
            <span class="text-sm text-porange-500">4 hrs/day</span>
            <p class="mt-6 text-interface-400">
              This is rarely needed, but often makes sense if your company has
              existing projects to oversee and you also need to ramp up in multiple
              areas. This is also a great option if you’ve had a recent departure
              or Parental leave of an existing CTO and you need an Interim CTO.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Types of Engagement -->
  <!-- CTA  -->
  <section class="py-20 bg-pblue-700">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-5 xl:gap-10 lg:flex-row justify-between">
        <div class="xl:w-6/12">
          <h2 class="text-4xl leading-normal lg:text-5xl lg:leading-snug font-bold text-white">
            Fuel Your Passion with a Strategic Technical Partner
          </h2>
        </div>
        <div class="xl:w-5/12">
          <div class="max-w-lg">
            <p class="text-2xl text-interface-200 mb-8">
              If you're as passionate about your project as I am about technology, we're going to make magic happen. 🪄
            </p>
            <a
              href="{{links.consultation}}"
              class="bg-pblue-300 pulsing group inline-flex py-4 space-x-2 px-7 rounded-xl text-interface-300 text-lg"
            >
              <span>Book a Free Consultation</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CTA End -->
</main>

{{>footer}}
