{{>head}}
{{>header}}

<main>
  <!-- Services -->
  <section class="py-120">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-10 lg:gap-16 place-items-center mb-14"
      >
        <div class="lg:col-span-2">
          <h1 class="text-interface-500 font-bold text-4xl leading-normal lg:text-5xl capitalize lg:leading-snug">
            Add CTO Expertise to the mix
          </h1>
        </div>
        <div class="lg:col-span-3">
          <p class="text-interface-200 text-xl">
            Specializing in Start-ups and Scale-ups,
            I can help build and refine your Engineering Tech Org
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 pb-10 lg:pb-16">
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-user-tie text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Executive Technology Partner
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            Maximize your business potential with a Fractional CTO by your side.
            Using my deep expertise, I'll offer strategic insights,
            streamline infrastructure, and oversee crucial tech initiatives.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-people-group text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Team Design &amp; Development
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            I cultivate teams for innovation and scale, promoting tech that
            grows with you. My curated product/engineering teams efficiently
            bring products to life, turning bold ideas into transformative solutions.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-handshake text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Vendor &amp; Partner Management
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            Expert negotiations yield high-quality tech at competitive costs.
            Discover the uplift of strategic vendor relationships in reaching tech milestones.
            With me as your Fractional CTO, master vendor and partner management.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-code text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Software Engineering Leadership
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            Entrust your software engineering needs to me, your Fractional CTO.
            With an emphasis on code integrity, team collaboration, and strategy,
            witness your organization soar under dedicated leadership.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-cloud text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Architecture &amp; Infrastructure
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            I've seen brilliant developers' code crumble due to poor infrastructure.
            As your Fractional CTO, I focus on fortifying software architecture
            optimizing costs and ensuring app resilience.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-road text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Technology Roadmapping
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            As your Fractional CTO, I'll map out your tech future.
            Using rich industry insight, I highlight emerging tech,
            security concerns, and areas for enhancement.
            Together, we'll align this with your business goals,
            ensuring innovation and security.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- Services End -->
</main>

{{>footer}}
