{{>head}}
{{>header}}

<!-- Main -->
<main>
  <!-- Hero Start -->
  <section
    class="pt-44 pb-100"
    style="background: url('/images/hero-1-bg.jpg') no-repeat fixed center center/cover;"
  >
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid lg:grid-cols-2 gap-10 pb-20 items-center">
        <!-- Left -->
        <div class="lg:col-span-1">
          <h1
            class="text-5xl xl:text-6xl mb-8 leading-normal xl:leading-snug font-bold text-interface-100"
          >
            Hey, I'm Michael.<br>
            Your Next
            <span class="relative">
              <span class="relative z-20">Fractional CTO</span>
              <svg
                class="absolute bottom-0 z-0 hidden lg:block"
                width="495"
                height="18"
                viewBox="0 0 495 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 13C90.8746 6.96301 308.099 -1.48877 490 13"
                  stroke="#ff9e00"
                  stroke-width="10"
                  stroke-linecap="round"
                />
              </svg>
            </span>
          </h1>
          <p class="text-xl lg:text-2xl text-interface-200 mb-4">
            Meet Michael Grissinger: a seasoned Tech Leader who's spent 20 years
            building teams and applications that scale to millions of daily users.
          </p>
          <div class="flex items-center gap-8 mt-10">
            <a
              href="{{links.engagement}}"
              class="bg-pblue-500 hover:bg-pblue-600 transition-all  text-white px-6 py-4 rounded-lg inline-flex justify-center items-center"
            >
              <span>
                Types of Engagement
              </span>
              <i class="ml-1 fa fa-arrow-right"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=XNhiqQJ01hQ" class="flex video-popup items-center gap-5">
              <span
                class="w-[60px] h-[60px] pulsing shadow-porange-500 rounded-full grid place-items-center border border-porange-500"
              >
                <i class="fa fa-play text-xl text-porange-500"></i>
              </span>
              <span>
                <span class="text-interface-100 uppercase text-lg font-medium">
                  WATCH
                </span>
                <br />
                <span class="text-base font-medium text-interface-200">
                  A Quick Hello
                </span>
              </span>
            </a>
          </div>
        </div>
        <!-- Right -->
        <div class="lg:col-span-1">
          <div class="relative">
            <div class="relative z-40">
              <img src="/images/profile-675x722.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero End -->

  <!-- About Me -->
  <section class="py-120">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 gap-5 xl:gap-10 lg:grid-cols-3 items-center">
        <div class="col-span-1">
          <div class=" mb-10">
            <h2 class="text-porange-700 text-xl font-medium capitalize mb-2">
              CTO as a Service
            </h2>
            <h3 class="text-4xl leading-snug font-bold text-interface-100">
              An approachable
              Technical Partner
            </h3>
            <p class="text-interface-500 text-lg mt-4 mb-10">
              I’m your friendly neighborhood Fractional CTO with 20 years of software
              engineering and leadership experience, a passion for comics, and a taste for craft beers.
            </p>
            <a href="{{links.contact}}"
              class="bg-porange-700  text-interface-100 px-6 py-4 font-medium rounded-lg inline-flex justify-center items-center transition-all hover:bg-porange-900"
            >
              <span>Book a Free Consultation</span>
              <i class="ml-1 fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-span-2">
          <ul class="divide-y divide-[#177370] divide-opacity-10">
            <li class="flex space-x-4 py-8">
              <div
                class="w-[60px] h-[60px] text-porange-900 rounded-full shrink-0 inline-flex items-center justify-center bg-porange-700 bg-opacity-10"
              >
                <i class="fa fa-code"></i>
              </div>
              <div>
                <h3 class="text-2xl text-interface-100 font-semibold mb-2">
                  Part Time CTO Expertise
                </h3>
                <p class="text-interface-500 text-lg">
                  Leverage my technical expertise and strategic vision on a part time or fractional basis. This is the heart of CTO as a Service.
                </p>
              </div>
            </li>
            <li class="flex space-x-4 py-8">
              <div
                class="w-[60px] h-[60px] text-pblue-600 rounded-full shrink-0 inline-flex items-center justify-center bg-pblue-500 bg-opacity-10"
              >
                <i class="fa fa-arrow-up-right-dots"></i>
              </div>
              <div>
                <h3 class="text-2xl text-interface-100 font-semibold mb-2">
                  Add Confidence to Grow & Scale
                </h3>
                <p class="text-interface-500 text-lg">
                  A Fractional CTO provides the leadership needed
                  to ensure your scalability, security, performance, and engineering processes.
                </p>
              </div>
            </li>
            <li class="flex space-x-4 py-8">
              <div
                class="w-[60px] h-[60px] text-interface-500 rounded-full shrink-0 inline-flex items-center justify-center bg-seagreen-500 bg-opacity-10"
              >
                <i class="fa fa-file-signature"></i>
              </div>
              <div>
                <h3 class="text-2xl text-interface-100 font-semibold mb-2">
                  Flexible Engagements
                </h3>
                <p class="text-interface-500 text-lg">
                  With engagements starting at just 2hrs/week, gain access to
                  Executive Technical Leadership to make a strategic impact.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- About Me End -->
  <!-- Testimonial -->
  <section class="py-120 bg-pblue-600">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="max-w-2xl mx-auto text-center mb-10">
        <h2 class="text-white font-bold lg:text-5xl text-4xl">
          What others says about working with me
        </h2>
      </div>
      <div class="">
        <div class="testimonial mb-10 md:mr-40">
          <div class="shadow-custom rounded-lg bg-pblue-700 p-7 relative">
            <q class="pb-8 block text-xl text-interface-200 italic">
              MG has verve in spades, an unending well of system & org improvements and contagious enthusiasm. He can persuade others, build things on his own, and create strong relationships across teams, orgs, and even companies. I wholeheartedly recommend hiring him immediately!
            </q>
            <div class="flex space-x-4 relative z-10">
              <div class="w-20 rounded">
                <img class="rounded-full" src="/images/nw.jpg" alt="" />
              </div>
              <div>
                <h4 class="mt-3 font-semibold text-white text-xl">
                  Nick Walters
                </h4>
                <span class="text-pcolor-500 text-base">
                  VP of Engineering @ JustFab Brands
                </span>
              </div>
            </div>
            <span class="absolute bottom-7 right-7 z-0">
              <svg
                width="153"
                height="108"
                viewBox="0 0 153 108"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.9637 67.8045C32.2719 71.1359 32.0362 80.1919 23.3608 92.7849C22.7045 93.7351 22.8236 95.0168 23.6385 95.8315C27.1755 99.3685 29.3654 101.6 30.9013 103.162C32.921 105.222 33.843 106.16 35.1926 107.383C36.0936 108.193 37.457 108.207 38.3676 107.413C53.4889 94.2556 70.2842 67.0667 67.8539 33.7564C66.4297 14.197 52.1628 0.000146351 33.9317 0.000147945C15.2223 0.00014958 0.000510688 15.2195 0.000512323 33.9292C0.000513901 51.9781 14.1668 66.7796 31.9637 67.8045ZM33.9317 4.78144C49.5879 4.78144 61.8469 17.1129 63.0864 34.1018C63.0864 34.1018 63.0864 34.1018 63.0864 34.1042C65.8204 71.5678 43.5505 95.9016 36.822 102.345C36.166 101.698 35.4166 100.937 34.3123 99.8122C32.9817 98.4581 31.1605 96.6044 28.4057 93.8401C38.9373 77.6145 36.9504 66.0536 36.0797 64.3959C35.6664 63.6091 34.8189 63.0791 33.9317 63.0791C17.8579 63.0791 4.78181 50.003 4.78181 33.9292C4.78181 17.8576 17.8579 4.78145 33.9317 4.78144Z"
                  fill="#1E2B48"
                />
                <path
                  d="M116.868 67.8041C117.179 71.1261 116.95 80.1752 108.265 92.7845C107.611 93.7348 107.728 95.0164 108.543 95.8311C112.073 99.3612 114.26 101.591 115.794 103.152C117.821 105.216 118.745 106.157 120.094 107.383C120.996 108.193 122.359 108.205 123.27 107.416C138.391 94.2576 155.189 67.0733 152.763 33.756L152.763 33.7536C151.334 14.1966 137.065 -0.000250377 118.834 -0.000248783C100.124 -0.000247148 84.9024 15.2191 84.9024 33.9288C84.9024 51.9799 99.069 66.7838 116.868 67.8041ZM118.834 4.78105C134.487 4.78105 146.754 17.1125 147.996 34.1038L147.996 34.1014C150.722 71.5744 128.452 95.9036 121.724 102.345C121.066 101.698 120.314 100.932 119.207 99.8046C117.879 98.4506 116.06 96.5992 113.31 93.8397C123.842 77.6117 121.855 66.0532 120.984 64.3979C120.571 63.6111 119.721 63.0787 118.834 63.0787C102.76 63.0787 89.6837 50.0026 89.6837 33.9288C89.6837 17.8572 102.76 4.78106 118.834 4.78105Z"
                  fill="#1E2B48"
                />
              </svg>
            </span>
          </div>
        </div><!--/ testimonial -->
        <div class="testimonial mb-10 md:ml-40">
          <div class="shadow-custom rounded-lg bg-pblue-700 p-7 relative">
            <q class="pb-8 block text-xl text-interface-200 italic">
              Michael is a gifted engineer and a true team player. He understands his subject matter areas with ease and always goes above and beyond to get the job done. We often asked Michael to tackle difficult, ambiguous projects, and he would always do so with a smile and a joke to lighten the team's spirit. And then he'd deliver time and time again. Was a pleasure to work with him.
            </q>
            <div class="flex space-x-4 relative z-10 justify-end">
              <div class="text-right">
                <h4 class="mt-3 font-semibold text-white text-xl">
                  Matt Kawadler
                </h4>
                <span class="text-pcolor-500 text-base">
                  COO @ True Classic
                </span>
              </div>
              <div class="w-20 rounded">
                <img class="rounded-full" src="/images/mk.jpg" alt="" />
              </div>
            </div>
            <span class="absolute bottom-7 left-7 z-0">
              <svg
                width="153"
                height="108"
                viewBox="0 0 153 108"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.9637 67.8045C32.2719 71.1359 32.0362 80.1919 23.3608 92.7849C22.7045 93.7351 22.8236 95.0168 23.6385 95.8315C27.1755 99.3685 29.3654 101.6 30.9013 103.162C32.921 105.222 33.843 106.16 35.1926 107.383C36.0936 108.193 37.457 108.207 38.3676 107.413C53.4889 94.2556 70.2842 67.0667 67.8539 33.7564C66.4297 14.197 52.1628 0.000146351 33.9317 0.000147945C15.2223 0.00014958 0.000510688 15.2195 0.000512323 33.9292C0.000513901 51.9781 14.1668 66.7796 31.9637 67.8045ZM33.9317 4.78144C49.5879 4.78144 61.8469 17.1129 63.0864 34.1018C63.0864 34.1018 63.0864 34.1018 63.0864 34.1042C65.8204 71.5678 43.5505 95.9016 36.822 102.345C36.166 101.698 35.4166 100.937 34.3123 99.8122C32.9817 98.4581 31.1605 96.6044 28.4057 93.8401C38.9373 77.6145 36.9504 66.0536 36.0797 64.3959C35.6664 63.6091 34.8189 63.0791 33.9317 63.0791C17.8579 63.0791 4.78181 50.003 4.78181 33.9292C4.78181 17.8576 17.8579 4.78145 33.9317 4.78144Z"
                  fill="#1E2B48"
                />
                <path
                  d="M116.868 67.8041C117.179 71.1261 116.95 80.1752 108.265 92.7845C107.611 93.7348 107.728 95.0164 108.543 95.8311C112.073 99.3612 114.26 101.591 115.794 103.152C117.821 105.216 118.745 106.157 120.094 107.383C120.996 108.193 122.359 108.205 123.27 107.416C138.391 94.2576 155.189 67.0733 152.763 33.756L152.763 33.7536C151.334 14.1966 137.065 -0.000250377 118.834 -0.000248783C100.124 -0.000247148 84.9024 15.2191 84.9024 33.9288C84.9024 51.9799 99.069 66.7838 116.868 67.8041ZM118.834 4.78105C134.487 4.78105 146.754 17.1125 147.996 34.1038L147.996 34.1014C150.722 71.5744 128.452 95.9036 121.724 102.345C121.066 101.698 120.314 100.932 119.207 99.8046C117.879 98.4506 116.06 96.5992 113.31 93.8397C123.842 77.6117 121.855 66.0532 120.984 64.3979C120.571 63.6111 119.721 63.0787 118.834 63.0787C102.76 63.0787 89.6837 50.0026 89.6837 33.9288C89.6837 17.8572 102.76 4.78106 118.834 4.78105Z"
                  fill="#1E2B48"
                />
              </svg>
            </span>
          </div>
        </div><!--/ testimonial -->
        <div class="testimonial mb-10 md:mr-40">
          <div class="shadow-custom rounded-lg bg-pblue-700 p-7 relative">
            <q class="pb-8 block text-xl text-interface-200 italic">
              MG was the best engineering partner I could have asked for. Through his guidance and mentorship, he helped me develop my confidence as I was stepping into a product leadership role. He set an example of what it meant to lead a team and created a team culture that was uplifting, encouraging and so much fun! I admire his courage to continuously challenge the status quo and push the boundaries of what our team can accomplish. I have grown so much because of him and I’m excited for the next team that gets to experience his magic!
            </q>
            <div class="flex space-x-4 relative z-10">
              <div class="w-20 rounded">
                <img class="rounded-full" src="/images/ml.jpg" alt="" />
              </div>
              <div>
                <h4 class="mt-3 font-semibold text-white text-xl">
                  Melody Lee
                </h4>
                <span class="text-pcolor-500 text-base">
                  Director of Product @ Savage X Fenty
                </span>
              </div>
            </div>
            <span class="absolute bottom-7 right-7 z-0">
              <svg
                width="153"
                height="108"
                viewBox="0 0 153 108"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.9637 67.8045C32.2719 71.1359 32.0362 80.1919 23.3608 92.7849C22.7045 93.7351 22.8236 95.0168 23.6385 95.8315C27.1755 99.3685 29.3654 101.6 30.9013 103.162C32.921 105.222 33.843 106.16 35.1926 107.383C36.0936 108.193 37.457 108.207 38.3676 107.413C53.4889 94.2556 70.2842 67.0667 67.8539 33.7564C66.4297 14.197 52.1628 0.000146351 33.9317 0.000147945C15.2223 0.00014958 0.000510688 15.2195 0.000512323 33.9292C0.000513901 51.9781 14.1668 66.7796 31.9637 67.8045ZM33.9317 4.78144C49.5879 4.78144 61.8469 17.1129 63.0864 34.1018C63.0864 34.1018 63.0864 34.1018 63.0864 34.1042C65.8204 71.5678 43.5505 95.9016 36.822 102.345C36.166 101.698 35.4166 100.937 34.3123 99.8122C32.9817 98.4581 31.1605 96.6044 28.4057 93.8401C38.9373 77.6145 36.9504 66.0536 36.0797 64.3959C35.6664 63.6091 34.8189 63.0791 33.9317 63.0791C17.8579 63.0791 4.78181 50.003 4.78181 33.9292C4.78181 17.8576 17.8579 4.78145 33.9317 4.78144Z"
                  fill="#1E2B48"
                />
                <path
                  d="M116.868 67.8041C117.179 71.1261 116.95 80.1752 108.265 92.7845C107.611 93.7348 107.728 95.0164 108.543 95.8311C112.073 99.3612 114.26 101.591 115.794 103.152C117.821 105.216 118.745 106.157 120.094 107.383C120.996 108.193 122.359 108.205 123.27 107.416C138.391 94.2576 155.189 67.0733 152.763 33.756L152.763 33.7536C151.334 14.1966 137.065 -0.000250377 118.834 -0.000248783C100.124 -0.000247148 84.9024 15.2191 84.9024 33.9288C84.9024 51.9799 99.069 66.7838 116.868 67.8041ZM118.834 4.78105C134.487 4.78105 146.754 17.1125 147.996 34.1038L147.996 34.1014C150.722 71.5744 128.452 95.9036 121.724 102.345C121.066 101.698 120.314 100.932 119.207 99.8046C117.879 98.4506 116.06 96.5992 113.31 93.8397C123.842 77.6117 121.855 66.0532 120.984 64.3979C120.571 63.6111 119.721 63.0787 118.834 63.0787C102.76 63.0787 89.6837 50.0026 89.6837 33.9288C89.6837 17.8572 102.76 4.78106 118.834 4.78105Z"
                  fill="#1E2B48"
                />
              </svg>
            </span>
          </div>
        </div><!--/ testimonial -->
        <div class="testimonial mb-10 md:ml-40">
          <div class="shadow-custom rounded-lg bg-pblue-700 p-7 relative">
            <q class="pb-8 block text-xl text-interface-200 italic">
              Michael [was] a great addition to our team! He came in when we were facing trouble... and he was readily available, very knowledgeable, great to work with, and has become an invaluable part of our extended team...I highly recommend you [hire him], especially if you're still starting off and need proper guidance throughout
            </q>
            <div class="flex space-x-4 relative z-10 justify-end">
              <div class="text-right">
                <h4 class="mt-3 font-semibold text-white text-xl">
                  Tamer Auf
                </h4>
                <span class="text-pcolor-500 text-base">
                  Founder of FeelWrite
                </span>
              </div>
              <div class="w-20 rounded">
                <img class="rounded-full" src="/images/ta.jpg" alt="" />
              </div>
            </div>
            <span class="absolute bottom-7 left-7 z-0">
              <svg
                width="153"
                height="108"
                viewBox="0 0 153 108"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.9637 67.8045C32.2719 71.1359 32.0362 80.1919 23.3608 92.7849C22.7045 93.7351 22.8236 95.0168 23.6385 95.8315C27.1755 99.3685 29.3654 101.6 30.9013 103.162C32.921 105.222 33.843 106.16 35.1926 107.383C36.0936 108.193 37.457 108.207 38.3676 107.413C53.4889 94.2556 70.2842 67.0667 67.8539 33.7564C66.4297 14.197 52.1628 0.000146351 33.9317 0.000147945C15.2223 0.00014958 0.000510688 15.2195 0.000512323 33.9292C0.000513901 51.9781 14.1668 66.7796 31.9637 67.8045ZM33.9317 4.78144C49.5879 4.78144 61.8469 17.1129 63.0864 34.1018C63.0864 34.1018 63.0864 34.1018 63.0864 34.1042C65.8204 71.5678 43.5505 95.9016 36.822 102.345C36.166 101.698 35.4166 100.937 34.3123 99.8122C32.9817 98.4581 31.1605 96.6044 28.4057 93.8401C38.9373 77.6145 36.9504 66.0536 36.0797 64.3959C35.6664 63.6091 34.8189 63.0791 33.9317 63.0791C17.8579 63.0791 4.78181 50.003 4.78181 33.9292C4.78181 17.8576 17.8579 4.78145 33.9317 4.78144Z"
                  fill="#1E2B48"
                />
                <path
                  d="M116.868 67.8041C117.179 71.1261 116.95 80.1752 108.265 92.7845C107.611 93.7348 107.728 95.0164 108.543 95.8311C112.073 99.3612 114.26 101.591 115.794 103.152C117.821 105.216 118.745 106.157 120.094 107.383C120.996 108.193 122.359 108.205 123.27 107.416C138.391 94.2576 155.189 67.0733 152.763 33.756L152.763 33.7536C151.334 14.1966 137.065 -0.000250377 118.834 -0.000248783C100.124 -0.000247148 84.9024 15.2191 84.9024 33.9288C84.9024 51.9799 99.069 66.7838 116.868 67.8041ZM118.834 4.78105C134.487 4.78105 146.754 17.1125 147.996 34.1038L147.996 34.1014C150.722 71.5744 128.452 95.9036 121.724 102.345C121.066 101.698 120.314 100.932 119.207 99.8046C117.879 98.4506 116.06 96.5992 113.31 93.8397C123.842 77.6117 121.855 66.0532 120.984 64.3979C120.571 63.6111 119.721 63.0787 118.834 63.0787C102.76 63.0787 89.6837 50.0026 89.6837 33.9288C89.6837 17.8572 102.76 4.78106 118.834 4.78105Z"
                  fill="#1E2B48"
                />
              </svg>
            </span>
          </div>
        </div><!--/ testimonial -->
      </div>
    </div>
  </section>
  <!-- Testimonial Section End -->

  <!-- CTA  -->
  <section class="py-20 bg-pblue-700">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-5 xl:gap-10 lg:flex-row justify-between">
        <div class="xl:w-6/12">
          <h2 class="text-4xl leading-normal lg:text-5xl lg:leading-snug font-bold text-white">
            Together, we can make your Product Engineering Org magical 🪄
          </h2>
        </div>
        <div class="xl:w-5/12">
          <div class="max-w-lg">
            <p class="text-2xl text-interface-200 mb-8">
              Let’s chat about your team, architecture, and maybe Batman
            </p>
            <a
              href="{{links.consultation}}"
              class="bg-pblue-300 pulsing group inline-flex py-4 space-x-2 px-7 rounded-xl text-interface-300 text-lg"
            >
              <span>Book a Free Consultation</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CTA End -->

</main>


{{>footer}}
