<!-- CTA  -->
<section class='py-20 bg-pblue-700'>
  <div class='mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8'>
    <div class='flex flex-col gap-5 xl:gap-10 lg:flex-row justify-between'>
      <div class='xl:w-6/12'>
        <h2 class='text-4xl leading-normal lg:text-5xl lg:leading-snug font-bold text-white'>
          Empower Your Business with a Fractional CTO Today
        </h2>
      </div>
      <div class='xl:w-5/12'>
        <div class='max-w-lg'>
          <p class='text-2xl text-interface-200 mb-8'>
            Invest smartly in your tech future - secure top-tier expertise without the top-tier
            expenses with a Fractional CTO.
          </p>
          <a
            href='{{pages.consultation.path}}'
            class='bg-pblue-300 pulsing group inline-flex py-4 space-x-2 px-7 rounded-xl text-interface-300 text-lg'
          >
            <span>Book a Free Consultation</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CTA End -->
