{{>head}}
{{>header}}

<!-- Main -->
<main>
  <!-- Hero Start -->
  <section
    class="pt-44 pb-120"
    style="
          background: url('/images/bg/hero-1-bg.jpg') no-repeat center
            center/cover;
        "
  >
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid lg:grid-cols-2 gap-10 pb-20 items-center">
        <!-- Left -->
        <div class="lg:col-span-1">
          <h1
            class="text-5xl xl:text-6xl mb-8 leading-normal xl:leading-snug font-bold text-interface-100"
          >
            Hey, I'm Michael.<br>
            Your Next
            <span class="relative">
              <span class="relative z-20">Fractional CTO</span>
              <svg
                class="absolute bottom-0 z-0 hidden lg:block"
                width="495"
                height="18"
                viewBox="0 0 495 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 13C90.8746 6.96301 308.099 -1.48877 490 13"
                  stroke="#FFD233"
                  stroke-width="10"
                  stroke-linecap="round"
                />
              </svg>
            </span>
          </h1>
          <p class="text-xl lg:text-2xl text-interface-200 mb-4">
            Meet Michael Grissinger: a seasoned Tech Leader who's spent 20 years
            building teams and applications that scale to millions of daily users.
          </p>
          <div class="flex items-center gap-8 mt-10">
            <a
              href="contact-us.html"
              class="bg-pblue-500 hover:bg-pblue-600 transition-all  text-white px-6 py-4 rounded-lg inline-flex justify-center items-center"
            >
              <span>Hire Me</span>
              <svg
                class="stroke-white transform translate transition-transform group-hover:translate-x-2"
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14 16.5L18 12.5M18 12.5L14 8.5M18 12.5L6 12.5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a href="https://www.youtube.com/watch?v=XNhiqQJ01hQ" class="flex video-popup items-center gap-5">
              <span
                class="w-[60px] h-[60px] pulsing rounded-full grid place-items-center border border-[#B0CAF0]"
              >
                <svg
                  width="18"
                  height="22"
                  viewBox="0 0 18 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0 18.4719V3.52806C0 1.14774 2.63921 -0.284513 4.63497 1.01273L16.1303 8.48467C17.9503 9.6677 17.9503 12.3323 16.1303 13.5153L4.63496 20.9873C2.63921 22.2845 0 20.8523 0 18.4719Z"
                    fill="#2662FA"
                  />
                </svg>
              </span>
              <span>
                <span
                  class="text-interface-100 uppercase text-lg font-medium"
                  >WATCH
                </span>
                <br />
                <span class="text-base font-medium text-interface-200">
                  Intro Video
                </span>
              </span>
            </a>
          </div>
          <div class="pt-14">
            <p class="text-base text-interface-200">
              Over
              <span class="text-seagreen-500 font-semibold text-xl">
                50,000+ client
              </span>
              all over the world.
            </p>
          </div>
        </div>
        <!-- Right -->
        <div class="lg:col-span-1">
          <div class="relative">
            <div class="relative z-40">
              <img src="/images/hero/hero-one/person.png" alt="" />
            </div>
            <ul>
              <li class="absolute  top-64 z-50 hidden lg:block">
                <img
                  src="/images/hero/hero-one/circle.png"
                  class=""
                  alt=""
                />
              </li>
              <li class="absolute left-10 top-52 ">
                <img
                  src="/images/hero/hero-one/b-circle.png"
                  class=""
                  alt=""
                />
              </li>
              <li class="absolute right-0 top-48">
                <img
                  src="/images/hero/hero-one/g-tri.png"
                  class=""
                  alt=""
                />
              </li>
              <li class="absolute top-44 right-36">
                <img
                  src="/images/hero/hero-one/blob.png"
                  class=""
                  alt=""
                />
              </li>
              <li class="absolute right-0 bottom-0">
                <img
                  src="/images/hero/hero-one/p-arc.png"
                  class=""
                  alt=""
                />
              </li>
              <li class="absolute bottom-0 left-16">
                <img
                  src="/images/hero/hero-one/g-u.png"
                  class=""
                  alt=""
                />
              </li>
              <li class="absolute right-0 -bottom-10 z-50 hidden lg:block">
                <img
                  src="/images/hero/hero-one/customers.png"
                  class=""
                  alt=""
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero End -->
</main>


{{>footer}}
